body{ margin:0 auto; }

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: red;
  font-size: 50px;
}

ul div {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  width: 700px;
  height: 450px;
  margin: 0 auto;
  position: relative;

}

.bugsweeper {
  height: 800px;
  width: 800px;
  margin: 0 auto;
  display: flex; 
  align-items: center;
  
}

.bugsweeper::before {    
      content: "";
      background-image: url("background.jpg");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
}


li {
  left: auto;
  right: auto;
  height: 150px;
  width: 200px;
}

li:hover{
  height: 150px;
  width: 200px;
  background-color:rgb(216, 228, 111);
}